body {
    background:white ;
    color: white;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 768px) {
    .input-group-lg .form-control,
    .input-group-lg .btn {
        width: 100%;
        max-width: 100%;
    }
}


